{% extends 'base.html' %}

{% block title %}Development{% endblock %}

{% block content %}

    <div id="content">
        <h1>INSTALLATION OF FRAMEWORK:</h1>
        <section>
            <ol>
                <li>Install python from <a href="https://www.python.org/downloads/">python.org</a> and verify using <code>python3 --version</code>.</li>
                <li>Install pip using <a href="https://pip.pypa.io/en/stable/installation/">pip installation guide</a> and verify using <code>pip --version</code>.</li>
                <li>Make a directory for the flask project <code>mkdir problem3-flask</code>.</li>
                <li>Move into the directory <code>cd problem3-flask</code>.</li>
                <li>Install flask using <code>pip install flask</code>.</li>
                <li>Create the folder/file structure and code (see in <em>"HOW I BUILT THE WEBSITE"</em>).</li>
                <li>Run program using <code>flask run</code>.</li>
            </ol>
        </section>

        <h1>HOW I BUILT THE WEBSITE:</h1>
        <section>
            <ol>
                <li>Developed the folder/file structure of my website.
                    <ul>
                        <li>Created a <code>templates</code> folder for my HTML files: <em>base.html & development.html</em>.</li>
                        <li>Created a <code>static</code> folder for CSS stylesheet and assets: <em>styles.css</em>.</li>
                        <li>Created an <code>app.py</code> used for the Flask framework backend.</li>
                    </ul>

                    <pre>

                        
                        problem3-flask/
                        |── app.py              
                        |── templates/           
                        |   └── base.html    
                        |   └── development.html          
                        |   ── static/              
                            └── styles.css    
                            
                    </pre>
                </li>
                <li>Set up the Flask backend in <code>app.py</code>:
                    <ul>
                        <li>Imported <code>Flask</code> and <code>render_template</code>.</li>
                        <li>Defined the routes for the Home and Development pages.</li>
                        <li>Rendered HTML templates using <code>render_template()</code>.</li>
                    </ul>

                    <pre>


                        from flask import Flask, render_template

                        app = Flask(__name__)

                        @app.route('/')
                        def home():
                            return render_template('base.html')

                        @app.route('/development')
                        def development():
                            return render_template('development.html')

                        if __name__ == '__main__':
                            app.run(debug=True)

                    </pre>
                </li>
                <li>Designed the home page HTML code in <code>base.html</code>:
                    <ul>
                        <li>Added a consistent header (includes the nav bar), and footer.</li>
                        <li>Used the <code>{ % block content % }</code> and <code>{ % block title % }</code> for content specfic pages.</li>
                        <li>Added html code to create a landing page.</li>
                    </ul>

                    <pre>


                        For example, by placing { % block content % }{ % endblock % } code 
                        into the bas.html file, any other file that extends base.html can 
                        place its unique code within these braces and it will be rendered! 

                    </pre>
                </li>
                <li>Designed the Development page and added CSS:
                    <ul>
                        <li>Extended the <code>base.html</code> template to get the header and footer for the <code>development.html</code>.</li>
                        <li>Added additional code to the <code>development.html</code> body for its page specific content.</li>
                        <li>Applied CSS styling to the Home and Development page using <code>styles.css</code>.</li>
                    </ul>
                </li>
                <br><br>
                <li>Deployed the webpage:
                    <ul>
                        <li>Ran the Flask app using <code>flask run</code>.</li>
                        <li>Accessed the website at <code>http://127.0.0.1:5000</code>.</li>
                        <li>Debugged errors and fixed styling issues.</li>
                        <li>Uploaded the webpage to a hosting platform.</li>
                    </ul>
                </li>
            </ol>
        </section>
    
        <h1>CHALLENGES</h1>
        <section>
            <ul>
                <li><strong>Template Errors:</strong> Missing template files caused rendering errors when trying to create new routes. To solve this issue, I ensured all files were in the <code>templates</code> folder and routed correctly (e.g. proper spelling).</li>
                <li><strong>CSS Stylings:</strong> Some of the styles I created didn't apply as I intended them to. To solve this issue, I debugged using different styles, noticing I had conflicting style rules.</li>
                <li><strong>Folder Styling:</strong> In one portion of this project I wanted to display a folder/file structure, which would be challanging to do. To solve this issue I used the <code>pre</code> tag.</li>
                <li><strong>Hosting Difficulties:</strong> Setting up a was something that was new to me and was timeconsuming. To solve this issue, I watched youtube videos to understand how to host the webpage.</li>
            </ul>    
        </section>
    </div>

{% endblock %}